@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');

body{
    position: relative;
    background-color: blanchedalmond;
    font-family: 'Indie Flower', cursive;
}

.navbar {
    background-color: #ce4a7e;
    color: blanchedalmond;

}
.nav-link{
    color: blanchedalmond!important;
}
.nav-link:hover{
  color: rebeccapurple!important;
  background-color: #be4978;

}
.navbar-brand{
    color: blanchedalmond!important;
}
.footer {
    background-color: #ce4a7e;
    color: #fafafa;
    font-weight: 100;
    font-size: smaller;
    padding-top: .5rem;

}