@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');

body{
    position: relative;
    background-color: blanchedalmond;
    font-family: 'Indie Flower', cursive;
}

.navbar {
    background-color: #ce4a7e;
    color: blanchedalmond;

}
.nav-link{
    color: blanchedalmond!important;
    
}
.nav-item{
  border: red!important;
}
.nav-link:hover{
  color: rebeccapurple!important;
  background-color: #be4978;

}
.navbar-brand{
    color: blanchedalmond!important;
}
.navbar-text{
  color: blanchedalmond!important;
  font-size: larger;
}
.footer {
    background-color: #ce4a7e;
    color: #fafafa;
    font-weight: 100;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    
}